#map {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.hidden {
        display: none;
    }
}

.hidden {
    display: none;
}

#general {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#photoselect {

    width: 100%;
    height: 100%;

    &::file-selector-button {
        display: none;
    }
}
