#map {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &.hidden {
    display: none;
  }
}

input {
  font-family: monospace;
  border: 0;
  width: 100%;
  background: "#FFF8DC";
  border-radius: .19rem;
  padding: .3rem;

  &:focus {
    outline: none;
  }
}

body {
  background: #256;
}

#landing {
  position: relative;
  display: flex;

  #photoselect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::file-selector-button {
      display: none;
    }

    opacity: 0;

    z-index: 1;
  }

  * {
    z-index: 2;
  }

  &.hidden {
    display: none;
  }
}

#editor {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template-areas: "preview header" "preview exposures";
  grid-template-columns: 30% auto;

  gap: 1rem;

  &.hidden {
    display: none;
  }

  div#preview {
    flex: 1;

    display: flex;
    position: relative;
    gap: 1rem;

    max-height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    flex-flow: column;

    grid-area: preview;

    img {
      max-height: 100%;
    }
  }

  div#header {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;

    justify-content: space-between;
    grid-area: header;

    div#roll {
      display: flex;
      flex-flow: row;
    }
  }

  div#exposures {
    font-family: monospace;
    background-color: bisque;
    border-radius: .5rem;

    div#exposure-specific {
      display: flex;
      flex-flow: column;
      padding: 1rem;

      #exposures-title {
        font-size: 2rem;
      }

      &.hidden {
        display: none;
      }
    }

    div#roll {
      display: flex;
      flex-flow: column;
      padding: 1rem;

      &.hidden {
        display: none;
      }
    }
  }
}